<app-default *ngIf="user.rolUser == 'user'"></app-default>
<app-nav-company *ngIf="user.rolUser == 'company'"></app-nav-company>

  <div class="row justify-content-center" style="width: 99%;">
    <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block bg-login-image">
                      <img src="https://johannesippen.com/img/blog/humans-not-users/header.jpg" class="d-block w-100">
                    </div>
                    <div class="col-lg-6">
                        <div class="px-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-3"></h1>
                            </div>
                            <div class="user" >
                              <form>
                                <div class="form-group ">
                          <div class="form-group">
                            <h5>Developer</h5>
                            <input type="email" name="emailUser" id="email" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Luis Rodriguez" required="required" disabled="">
                          </div>
                                <div class="form-group">
                                    <h5>Email</h5>
                                    <input type="text" name="passwordUser"  class="form-control form-control-user" id="exampleInputPassword" placeholder="LuisF@gmail.com" required="required" disabled="">
                                </div>
                                <div class="form-group">
                                  <h5>Contact</h5>
                                  <input type="text" name="passwordUser"  class="form-control form-control-user" id="exampleInputPassword" placeholder="1214-3122" required="required" disabled="">
                              </div>

                        </div></form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
