<app-default *ngIf="user.rolUser == 'user'"></app-default>
<app-default *ngIf="user.rolUser == 'company'"></app-default>

<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">

  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="../../../../assets/banner.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>WELCOME!!</h5>
        <p>I hope you like our daily recommendations.</p>
        <button  type="button" class="btn btn-light">see more</button>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="card my-3 d-inline-block mx-2" style="width: 16rem;">
    <img src="../../../../assets/fondoportada.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

  <div class="card my-3 d-inline-block mx-2" style="width: 16rem;">
    <img src="../../../../assets/fondoportada.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

  <div class="card my-3 d-inline-block mx-2" style="width: 16rem;">
    <img src="../../../../assets/fondoportada.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <button class="btn btn-primary btn-user btn-block">SIgn Up</button>
    </div>
  </div>

  <div class="card my-3 d-inline-block mx-2" style="width: 16rem;">
    <img src="../../../../assets/fondoportada.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>







<div class="card mb-0 d-inline-block mx-3" style="width: 32rem;">
  <img src="../../../../assets/fondoportada.jpg" class="card-img-top w-100" alt="...">
  <div class="card-body">
    <h5 class="card-title">books</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    <button class="btn btn-primary btn-user btn-block">SIgn Up</button>
  </div>
</div>

<div class="card mb-0 d-inline-block mx-3" style="width: 32rem;">
  <img src="../../../../assets/fondoportada2.jpg" class="card-img-top w-100" alt="...">
  <div class="card-body">
    <h5 class="card-title">library</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>




</div>

