<app-nav-company></app-nav-company>
<div class="container p-3">
  <div class="menuBt">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#RegisterModal">Create User</button>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col ">ID</th>
        <th scope="col">ID PLACE</th>
        <th scope="col">NAME</th>
        <th scope="col">LASTNAME</th>
        <th scope="col">NICK</th>
        <th scope="col">EMAIL</th>
        <th scope="col">EDIT / REMOVE</th>

      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let dt of tableUsers">
      <td>{{dt._id}}</td>
      <td>{{dt.idPlace}}</td>
      <td>{{dt.nameUser}}</td>
      <td>{{dt.lastnameUser}}</td>
      <td>{{dt.nickUser}}</td>
      <td>{{dt.emailUser}}</td>
      <td>
        <button type="button" class="btn btn-info mx-2 " data-bs-toggle="modal" data-bs-target="#EditModal" (click)="get(dt._id)">Edit</button>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#DeleteModal" (click)="get(dt._id)">Remove</button>


    </tr>

  </tbody>
  </table>

  <!-- Modals -->
<div class="modal fade" id="RegisterModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">creating user...</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="clean()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <h6>Branch</h6>
          <input placeholder="id branch" name="nickUser" type="text" class="form-control" required="required" [(ngModel)]="userModel.idPlace" >
        <h6>Name</h6>
        <input placeholder="Name" name="nickUser" type="text" class="form-control" required="required" [(ngModel)]="userModel.nameUser" >
        <h6>LastName</h6>
        <input placeholder="lastName" name="nickUser" type="text" class="form-control" required="required" [(ngModel)]="userModel.lastnameUser" >
        <h6>Usuario</h6>
        <input placeholder="Nick" name="nickUser" type="text" class="form-control" required="required" [(ngModel)]="userModel.nickUser" >
        <h6>Email</h6>
        <input placeholder="Email" name="emailUser" type="text" class="form-control" required="required" [(ngModel)]="userModel.emailUser" >
        <h6>password</h6>
        <input placeholder="Password" name="passwordUser" type="password" class="form-control" required="required" [(ngModel)]="userModel.passwordUser" >
    </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="clean()">Cancel</button>
        <button type="button" class="btn btn-success"  (click)="register()" >Create</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="EditModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editing User...</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="clean()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form enctype="multipart/form-data">
        <div class="form-group">
          <h6>Branch</h6>
          <input placeholder="id branch" name="idPlace" type="text" class="form-control" required="required" [(ngModel)]="updateUserModel.idPlace" >
        <h6>Name</h6>
        <input placeholder="Name" name="nameUser" type="text" class="form-control" required="required" [(ngModel)]="updateUserModel.nameUser" >
        <h6>LastName</h6>
        <input placeholder="lastName" name="lastnameUser" type="text" class="form-control" required="required" [(ngModel)]="updateUserModel.lastnameUser" >
        <h6>Usuario</h6>
        <input placeholder="Nick" name="nickUser" type="text" class="form-control" required="required" [(ngModel)]="updateUserModel.nickUser" >
        <h6>Email</h6>
        <input placeholder="Email" name="emailUser" type="text" class="form-control" required="required" [(ngModel)]="updateUserModel.emailUser">
        <h6>password</h6>
        <input placeholder="Password" name="passwordUser" type="password" class="form-control" required="required" [(ngModel)]="updateUserModel.passwordUser" >

      </div>
    </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="clean()">Cancel</button>
        <button type="button" class="btn btn-info" (click)="edit()" >Edit</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="DeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Deleting User...</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="clean()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form enctype="multipart/form-data">
        <div class="form-group">
          <h6>Branch</h6>
          <input placeholder="id branch"  disabled=""  name="idPlace" type="text" class="form-control" required="required" [(ngModel)]="updateUserModel.idPlace" >
        <h6>Name</h6>
        <input placeholder="Name"  disabled=""  name="nameUser" type="text" class="form-control" required="required" [(ngModel)]="updateUserModel.nameUser" >
        <h6>LastName</h6>
        <input placeholder="lastName"  disabled="" name="lastnameUser" type="text" class="form-control" required="required" [(ngModel)]="updateUserModel.lastnameUser" >
        <h6>Usuario</h6>
        <input placeholder="Nick"  disabled="" name="nickUser" type="text" class="form-control" required="required" [(ngModel)]="updateUserModel.nickUser" >
        <h6>Email</h6>
        <input placeholder="Email" disabled="" name="emailUser" type="text" class="form-control" required="required" [(ngModel)]="updateUserModel.emailUser" >
        <h6>password</h6>
        <input placeholder="Password"  disabled="" name="passwordUser" type="password" class="form-control" required="required" [(ngModel)]="updateUserModel.passwordUser" >

      </div>
    </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="clean()">Cancel</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleter()" >Delete</button>
      </div>
    </div>
  </div>
</div>
