<app-nav-company></app-nav-company>
<div class="container p-3">
  <div class="menuBt">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#RegisterModal">Create Branch</button>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col ">ID</th>
        <th scope="col">ID COMPANY</th>
        <th scope="col">ID BRANCH</th>
        <th scope="col">NAME</th>
        <th scope="col">ADDRESS</th>
        <th scope="col">SALE</th>
        <th scope="col">PRODUCTS / EDIT / REMOVE</th>

      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let dt of tableBranch">
      <td>{{dt._id}}</td>
      <td>{{dt.idCompany}}</td>
      <td>{{dt.idBranch}}</td>
      <td>{{dt.nameBranch}}</td>
      <td>{{dt.addressBranch}}</td>
      <td>{{dt.sale}}</td>
      <td>
        <button type="button" class="btn btn-info  " routerLink="/product-branch/{{dt._id}}" (click)="get(dt._id)">Products</button>
        <button type="button" class="btn btn-info mx-2 " data-bs-toggle="modal" data-bs-target="#EditModal" (click)="get(dt._id)">Edit</button>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#DeleteModal" (click)="get(dt._id)">Remove</button>


    </tr>

  </tbody>
  </table>
  <!-- MODALS -->

  <div class="modal fade" id="RegisterModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">creating branch...</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="clean()" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <h6>Id Branch</h6>
            <input placeholder="id branch" name="idBranch" type="text" class="form-control" required="required" [(ngModel)]="branchModel.idBranch" >
          <h6>Name</h6>
          <input placeholder="Name" name="nameBranch" type="text" class="form-control" required="required" [(ngModel)]="branchModel.nameBranch" >
          <h6>Address</h6>
          <input placeholder="Address" name="addressBranch" type="text" class="form-control" required="required" [(ngModel)]="branchModel.addressBranch" >
      </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="clean()">Cancel</button>
          <button type="button" class="btn btn-success"  (click)="register()" >Create</button>
        </div>
      </div>
    </div>
  </div>



  <div class="modal fade" id="EditModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Editing branch...</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="clean()" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <h6>Id Branch</h6>
            <input placeholder="id branch" name="idBranch" type="text" class="form-control" required="required" [(ngModel)]="updateBranchModel.idBranch" >
          <h6>Name</h6>
          <input placeholder="Name" name="nameBranch" type="text" class="form-control" required="required" [(ngModel)]="updateBranchModel.nameBranch" >
          <h6>Address</h6>
          <input placeholder="Address" name="addressBranch" type="text" class="form-control" required="required" [(ngModel)]="updateBranchModel.addressBranch" >
      </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="clean()">Cancel</button>
          <button type="button" class="btn btn-info"  (click)="edit()" >Edit</button>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="DeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Deleting branch...</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="clean()" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <h6>Id Branch</h6>
            <input placeholder="id branch" disabled="" name="idBranch" type="text" class="form-control" required="required" [(ngModel)]="updateBranchModel.idBranch" >
          <h6>Name</h6>
          <input placeholder="Name" disabled="" name="nameBranch" type="text" class="form-control" required="required" [(ngModel)]="updateBranchModel.nameBranch" >
          <h6>Address</h6>
          <input placeholder="Address" disabled="" name="addressBranch" type="text" class="form-control" required="required" [(ngModel)]="updateBranchModel.addressBranch" >
      </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="clean()">Cancel</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleter()" >Delete</button>
        </div>
      </div>
    </div>
  </div>


</div>>
